<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body id="page-top" class="dashboard-content">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <%- include('../partials/topmenu'); %>
        </nav>

        <!-- About Section-->
        <content>
            <div class="header-container bg-secondary">
                <header class="masthead text-white text-center main-content" style="height:100%">
                    <div class="d-flex align-items-center flex-column">
        
                        <div class="row">
                            <div class="col-lg-7 order-lg-1">
                                <h2>Welcome to Roots, and thank you for joining our community!</h2>
                                <h5>We are thrilled to have you onboard as we grow Roots into a thriving hub for aspiring floral designers. Our aim is to create an immersive learning platform filled with enriching video tutorials, engaging community showcases, and an atmosphere of creativity and inspiration.</h5>
                                <h5>While we're busily cultivating Roots, we want to ensure you don't miss a moment of our journey. By creating an account, you've taken the first step into a community that shares your passion for floral design, and you'll be among the first to know when our full suite of features is ready to bloom.</h5>
                                <h5>We look forward to sharing this exciting journey with you and cannot wait to see the beautiful creations you'll craft and the growth you'll experience through Roots.</h5>
                                <hr />
                                <h2 class="complementary-light">Watch for email updates! We will let you know when the site is ready!</h2>
                            </div>
                            <div class="col-lg-5 order-lg-2">
                               
                                <img src="/assets/img/flowers/16.png" class="website-image website-image website-image-95" />
        
                            </div>
                        </div>
                    </div>
                </header>
            </div>



        </content>
        
        <!-- Footer-->
        <%- include('../partials/footer'); %>

        <!-- Copyright Section-->
        <%- include('../partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <%- include('../partials/jsincludes'); %>
  </body>
</html>
