<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head'); %>
</head>

<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
        <%- include('./partials/topmenu'); %>
    </nav>


    <!-- Page Content -->
    <section class="page-section page-section-top-padded mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->

            <!-- About Section Content-->
            <!--
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">About the site</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">About me</p></div>
                </div>
                -->
            <!-- About Section Button-->
            <div class="text-left mt-4 main-content">
                <div id="story1" class="row justify-content-left">
                    <div class="col-lg-7 order-lg-1">
                        <h2>About Yolanta</h2>




                        <div class="main-text">With over 27 years of experience in the floral industry, Yolanta Karwowski-Gormanly is a seasoned professional whose artistry breathes life into every floral arrangement she creates. Yolanta’s journey in floral design began with humble roots, gaining hands-on experience and refining her craft over the years at Flowers by Twilight in Hopewell Junction, NY, and Flowers by Rene in Fishkill, NY.</div>

                        <div class="main-text">Yolanta holds a Master of Arts in Organizational Communications (2004) and a Bachelor of Arts in Psychology (2001), both from the University at Albany. This unique combination of education and practical experience underpins her ability to create floral arrangements that not only captivate the eye but also evoke deep emotions. Her background in psychology and communications enhances her understanding of client needs, enabling her to translate their visions into exquisite floral designs that tell a story and connect people through the universal language of nature’s beauty.</div>

                        <div class="main-text">Her work spans a diverse range of occasions, from weddings and funerals to special events, always tailored to reflect the individuality of her clients. Yolanta’s deep industry knowledge, coupled with her creativity and attention to detail, ensures that every arrangement is a unique masterpiece. Her passion for floral design goes beyond aesthetics; it’s about creating meaningful experiences and lasting memories.</div>

                        <div class="main-text">As a key member of the Roots Floral team, Yolanta brings her extensive expertise to our vibrant array of classes, parties, and floral arrangements. Her commitment to excellence and her love for the art of floral design inspire both her colleagues and students alike. Passionate about her craft, Yolanta’s work is not just about arranging flowers, it's about telling a story and connecting people through the universal language of nature's beauty.</div>

                    </div>
                    <div class="col-lg-5 order-lg-2">
                       
                        <img src="/assets/img/flowers/16.png" class="website-image website-image website-image-95" />

                    </div>
                </div>

                <div class="divider-custom">
                    <div class="divider-custom-line divider-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-cat divider-color"></i></div>
                    <div class="divider-custom-line divider-bg-color"></div>
                </div>


                

            </div>
        </div>
    </section>

    <!-- Footer-->
    <%- include('./partials/footer'); %>
    <!-- Copyright Section-->
    <%- include('./partials/copyright'); %>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
                class="fa fa-chevron-up"></i></a>
    </div>


    <%- include('./partials/jsincludes'); %>
</body>

</html>