<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        
        <!-- include carousel css this page only -->
        <link rel="stylesheet" href="/css/roots-carousel.css">
        
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
            <%- include('./partials/topmenu'); %>
        </nav>
        
        <!-- Masthead-->
        <content>
            <div class="header-container bg-secondary">
                <header class="masthead text-white text-center main-content" style="height:100%">
                    <div class="d-flex align-items-center flex-column">
        
                        <div class="row">
                            <%- include('./partials/roots-carousel'); %>
                        </div>
                    </div>
                </header>
            </div>
            
            <!-- Portfolio Section-->
            <section class="page-section portfolio text-center main-content mt-3" id="portfolio">

                <div class="row">
                    <div class="col-lg-5 order-lg-3">
                        <img class="website-image-with-overlap" src="/assets/img/gallery/0923/IMG_6762.jpg" />
                    </div>
                    <div class="col-lg-7 order-lg-4" style="z-index: 2;">
                        <div class="main-text-large">Roots is dedicated to honoring the deep connections and values that families share through the timeless beauty of flowers. Our mission is to provide floral arrangements that not only adorn your events but also symbolize the love, unity, and memories that form the foundation of every family. We aim to create designs that resonate with personal significance, transforming flowers into cherished mementos that celebrate your heritage and the enduring bonds between family members.
                        </div>
                        <div class="main-text">Whether you’re looking to learn, celebrate, or beautify your events, we bring the enchanting world of flowers right to your fingertips.</div><br />
                        <br />
                        <h3>Floral Classes</h3>
                        <div class="main-text">Our expert-led classes are designed to inspire and educate floral enthusiasts of all levels. From beginners to seasoned florists, our comprehensive instructional videos and tutorials cover a wide range of styles, techniques, and applications. Discover the art of floral design with in-depth lessons that span from simple home décor to intricate wedding bouquets. Join our community of learners and elevate your floral skills with Roots Floral.</div>
                        <h3>Floral Parties</h3>
                        <div class="main-text">Celebrate with flowers! Roots Floral offers unique and interactive floral parties, perfect for any occasion. Whether it’s a birthday, bridal shower, or a fun get-together with friends, our floral parties provide a creative and memorable experience. Guided by professional florists, you and your guests will enjoy hands-on floral arranging, creating beautiful pieces to take home and cherish.</div>
                        <h3>Flowers for Events</h3>
                        <div class="main-text">Make your events unforgettable with our exquisite floral arrangements. From weddings and corporate events to intimate gatherings, Roots Floral specializes in crafting stunning floral designs tailored to your needs. Our experienced team works closely with you to bring your vision to life, ensuring every detail is perfect. Let us add a touch of floral elegance to your special moments.</div>

                        <h2>Stay Connected</h2>
                        <div class="main-text">We are excited to announce the upcoming launch of our learning platform! Sign up for an account to be notified when we go live and gain access to exclusive content, early registration for classes, and special offers.</div>


                        <div class="main-text-large">At Roots Floral, we are passionate about nurturing creativity, fostering a deep appreciation for floral artistry, and making the beauty of floral design accessible to all. Whether you’re a novice exploring a new passion or a professional looking to enhance your skills, Roots Floral is your gateway to the enchanting world of flowers.</div>
                    </div>
                </div>
                
                
                <!-- <div class="divider-custom">
                    <div class="divider-custom-line divider-bg-color"></div>
                    <div class="divider-custom-icon"><i class="fas fa-code-branch divider-color"></i></div>
                    <div class="divider-custom-line divider-bg-color"></div>
                </div>
                <h2 class="page-section-heading text-center text-uppercase text-primary mb-3 pt-0"><a href="/dashboard">Create your account Today!</a> </h2> -->
                <!-- Icon Divider-->
                
    
            </section>
        </content>
       

        <!-- Footer-->
        <%- include('./partials/footer'); %>

        <!-- Copyright Section-->
        <%- include('./partials/copyright'); %>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>
        
        <%- include('./partials/jsincludes'); %>

        <!-- include jquery this page only for carousel -->
        <script src="/js/roots-carousel.js" defer></script>
        <script src="/js/roots-carousel.js"></script>
    </body>
</html>